.header-container {
   background-color: var(--blue-1);
   height: 80px;
   display: flex;
   align-items: center;
}

.header-wrapper {
   max-width: 1536px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.ui.header {
   color: white;
   margin: 0;
}

.ui.dropdown img {
   border: 2px solid white;
}

.ui.dropdown i {
   color: white;
   margin-left: 5px !important;
}

.ui.dropdown .menu.visible {
   margin-top: 8px;
   left: -100px;
}

.buttons-auth-header .ui.button {
   color: white;
}

.buttons-auth-header .ui.button:nth-child(1) {
   background-color: var(--blue-3);
   margin-right: 10px;
}

.buttons-auth-header .ui.button:nth-child(2) {
   background-color: transparent;
   border: 2px solid var(--blue-3);
}

@media screen and (max-width: 1536px) {
   .header-wrapper {
      padding: 0 15px;
   }
}
