.container-field-login {
   margin-bottom: 15px;
}

.container-field-login:last-of-type {
   margin-bottom: 30px;
}

.title-modal {
   text-align: center;
}

.field-error {
   font-size: 12px;
   color: red;
}

.field-error:before {
   content: "â—";
   margin: 0 5px 0 10px;
}

.form-login .ui.input {
   background-color: rgba(0, 0, 0, .1);
   font-size: 1.2em;
   padding: 15px;
   color: black;
   border-radius: 10px;
}

.ui[class*="left icon"].input > i.icon {
   left: auto;
}

.actions-modal-login .ui.button {
   background-color: var(--blue-2);
   font-size: 1.2rem;
   color: white;
   border-radius: 8px;
   width: 100%;
   margin: 0 !important;
}

.ui.button:hover {
   background-color: var(--blue-2);
   opacity: .9;
   color: white;
}

.error-login {
   display: block;
   text-align: center;
   margin-bottom: 15px;
   color: red;
}
